div#attractions-information {
    float:left;
    width:65%;
    padding-left:2%;
}

div#attractions-information h1 {
    text-decoration:underline;
    padding-bottom:10px;
}

div#attractions-selector {
    float:left;
    width:30%;
}

div#experience {
    margin-top:46px;
    margin-left:10%;
    margin-right:2%;
    border:1px solid black;
}

div#experience h2 {
    text-align:center;
}

div#experience ul {
    padding-left:20%;
}

div#experience ul li {
    padding-top:11px;
    padding-bottom:11px;
}

.container {
  width:100%;
  overflow:auto;
}

.container div {
	float:left;
	padding-top:35px;
    padding-left:2%;
	width:31.33%;
    margin-right:2%;
}

.container div img {
    border:1px solid black;
}