@media (max-width: 450px) { /* The following CSS rules takes effect when condition evaluates true. In this case, when our browser window has a max-width of 450px*/
	*{
		text-align:center;
	}
}


#attractions-information {
    float:left; /* Floats the element to the let */
    width:65%;
    padding-left:2%;
	min-width:350px;
}

#attractions-information h1 {
    text-decoration:underline; /* Sets the text decoration to underline. Telling us that all text within this element will have its characters underlined */
    padding-bottom:10px;
}

#attractions-selector {
    float:left; /* Floats the elemnet ot the left*/
    width:30%;
}

#experience {
    margin-top:46px;
    margin-left:10%;
    margin-right:2%;
	min-width:250px;
}

#experience h2 {
    text-align:center;
}

#experience ul {
    padding-left:20%;
	list-style-type:none;
}

#experience ul li {
    padding-top:11px;
    padding-bottom:11px;
}

.container {
  width:100%;
  overflow:auto;
}

.container div {
	float:left;
	padding-top:35px;
    padding-left:2%;
	width:29%;
    margin-right:2%;
	text-align:center;
	min-width:250px;
}

.container div img {
	background: url(../images/spritesheet-attractions.jpg) no-repeat; /* Loads spritesheet and make it not repeat itself if the element would be bigger than the image*/
	width:300px; /* Sets the images width */
	height:100px; /* Sets the height*/
}

.beach {
	background-position: -2px -2px !important; /* Sets which part of the spritesheet we are going to use and overwrites existing CSS rules */
}

.boat {
	background-position: -304px -2px !important; /* Sets which part of the spritesheet we are going to use and overwrites existing CSS rules */ 
}

#availability {
	height:68px;
    background-color:#9B1C26;
	color:white;
	margin-top:35px;
	margin-left:3.8%;
	width:25%;
	line-height:32px; /* Sets the line height of the child elements */
	min-width:250px;
}