* {
	margin:0 auto; /* Centers everything horizontally by default*/
	padding:0px;
	border:0px;
}

@font-face { /* Loads our custom font */
	font-family: luxury; /*Sets name of font*/
	src:url(luxury.otf); /* Points to source of font*/
}

.luxury { /* Class which changes the font to luxury */
	font-family:luxury;
}

.center { /* Class which centers the element within parent */
  margin: 0 auto;
}

body { 
	background-color:white;
}

.border-black { /* Class which creates a black border around element */
	border:1px solid black;
}

#wrapper {
	margin:0 auto;
	width:90%; /* Sets width to 90% of parent (in this case body) */
	max-width:1000px; /* Sets the maximum width the element with id wrapper can take to 1000px*/
}

#topimage {
	background-image:url('../images/edited-top.jpg'); /* Sets the source of our top image*/
	height:250px; /* Sets the height of the element*/
	width:100%; /* Sets the width to 100% of its parent */
	position:absolute; /* Sets the element positioned to the first parent elment which has a position other than static */
	z-index:-1; /* Changes the z-index of the element. All elements, have by default, a z-index of 0. z-index represents the order of which elements are displayed. In this specific case, we do this to make the image go behind the navbar*/
    box-shadow: 0px 3px 6px black; /* Creates a shadow underneath the topimage*/
}

#navbar {
	width:100%;
	margin:0px;
	background-color:black;
}

#navbar li {
	display: inline-block;  /* Displays the element as an inline-block to tolerate other elements from aligning next to it */
	margin-left:0px;
	margin-right:0px;
	text-align: center;
	width: 24.665%;
	min-width:178px; /* Sets the minimum width the element can take */
	max-width:247.5px; /* Sets the maximum width the element can take*/
}

#navbar li a {
	display: block; 
	font-family:luxury; /* Sets our font to our pre-loaded CSS3 font Luxury */
	font-size:17px; /* Sets the size of our font */
	text-decoration: none; /* Removes all text decoration (underlines etc.)*/
	padding:16px;
	padding-left:5px;
	padding-right:5px;
	color:#ffffff;  /* Sets the text color */
}

#navbar li:hover {
    background-color: #9B1C26; /* Sets our background-color to #9B1C26 (a red color) when hovering */
    transition-duration:0.6s; /* Sets the time it takes for the CSS transition to take effect */
    transition-delay:0.1s; /* Sets the time in seconds that it takes for the transition to start */
}

#content {
	margin-top:210px;	/* Sets the margin to the nearest element above */
	border-top:5px black; 
	width:100%;
    box-shadow: 5px 0 5px -5px black, -5px 0 5px -5px black; /* Creates two black shadows around the content box on both left and right side */
}

#footer {
	width:100%;
	background-color:#171717;
	color:white;
	overflow:auto;
    margin-top:50px;
    text-align:center;
}

#footer div {
	width:12.5%;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
    display: inline-block;
	min-width:300px;
	font-family:luxury;
}

#footer div a {
	text-decoration: none;
	color:#ffffff;
	transition:color 1s; /* Transitions to 'color' value over one second both forward and backwards */
}

#footer div a:hover {
	color:turquoise; /* Changes color of text when hovering with mouse on one of the footer links*/
}