* {
	margin-top:0px;
	padding:0px;
	border:0px;
}

body {
	background-color:white;
}

div#wrapper {
	margin:0 auto;
	width:1000px;
}

div#topimage {
	background-image:url('../images/edited-top.jpg');
	height:250px;
	width:100%;
	position:absolute;
	z-index:-1;
	left:0px;
}

div#navbar
{
	padding:0px;
	margin:0px;
	
}

div#navbar li
{
	display:inline;
	margin-left:0px;
	margin-right:0px;
}

div#navbar li a
{
	font-family:Arial;
	font-size:12px;
	text-decoration: none;
	padding:10px;
	background-color:black;
	color:#ffffff;
	border-bottom:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
}

div#navbar li a:hover
{
	background-color:#9B1C26;
	padding-bottom:12px;
	border-bottom:2px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	margin:-1px;
}

.center {
	margin-left:auto;
	margin-right:auto;
}