* {
	margin-top:0;
}

body {
	background-color:white;
}

div#wrapper {
	margin:0 auto;
	width:1000px;
}

div#topimage {
	background-image:url('../images/edited-top.jpg');
	height:250px;
	width:100%;
	position:absolute;
	z-index:-1;
	margin-left:0;
}

div#navbar{
	background-color:black;
	height:50px;
}

