* {
	margin-top:0px;
	padding:0px;
	border:0px;
}

body {
	background-color:white;
}

div#wrapper {
	margin:0 auto;
	width:1000px;
}

div#topimage {
	background-image:url('../images/original-top.jpg');
	height:250px;
	width:100%;
	position:absolute;
	z-index:-1;
	left:0px;
}

div#navbar
{
	width:60%;
	margin:0px;
	height:35px;
	background-color:black;
}

div#navbar li
{
	display:inline;
	margin-left:0px;
	margin-right:0px;
}

div#navbar li a
{
	display:table-cell;
	vertical-align:middle;
	float:left;
	width:18%;
	font-family:Arial;
	font-size:17px;
	text-decoration: none;
	padding:16px;
	padding-left:5px;
	padding-right:5px;
	background-color:black;
	color:#ffffff;
}

div#navbar li a:hover
{
	background-color:#9B1C26;
	padding-bottom:16px;
	border-bottom:2px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
}