#content h2 {
    padding-top:10px;
    text-align:center;
}

.container {
  width:100%;
  overflow:auto;
}

.container img {
	border:1px solid black;
    /* Fix centering issue */
    display:block;
    margin:0px auto;
}

.container div {
	float:left;
	padding-top:35px;
	width:33.33%;
	background-color:white;
}

.container div p {
	padding-left:5%;
	padding-right:5%;
}

.container .review {
    text-align:center;
    padding-bottom:20px;
}

.text-cursive {
	font-family:cursive;
}

.grey {
	color:#666;
}

.container .star {
	border:0;
	display:inline-block;
}

div#content > h2 {
	padding-top:40px;
}

/* Loads the spritesheet for all images in index.html's container */
#thumbnails img {
	background: url(../images/spritesheet-index.jpg) no-repeat;
	/* Assigning default width and height for our images */
	width:270px;
	height:100px;
}

.rooms {
	background-position: 0 -204px !important; /* Sets the source of the spritesheet's x,y coordinates relative to top left corner and overwrites existing rule. */
}

.travel {
	background-position:0 -306px !important;
}

.restaurant {
	background-position:0 -102px !important;
}
