#preview {
    width:53%;
    float:left;
    text-align:center;
    padding-right:5%;
    padding-left:1%;
	max-width:490px;
	min-width:450px;
	background: url(../images/spritesheet-rooms-original.jpg) no-repeat;
	background-position: -2px -2px;
	height:440px;
	margin-left:2%;
	margin-bottom:75px;
}

#preview p {
	margin-top:440px;
}

#roomselector {
    float:left;
    width:40%;
    text-align:center;
	min-width:150px;
}

#roomselector h2 {
    padding-top:20px;
    padding-bottom:31px;
}

/* Loads the spritesheet for all images in rooms.html's roomselector */
#roomselector img {
	background: url(../images/spritesheet-rooms-thumbnails.jpg) no-repeat;
	width:150px;
	height:75px;
}

.room1 {
	background-position: -154px -2px !important; /* Sets the source of the spritesheet's x,y coordinates relative to top left corner and overwrites existing rule. */
}

.room2 {
	background-position: -306px -2px !important;
}

.room3 {
	background-position: -2px -79px !important;
}

.room4 {
	background-position: -2px -156px !important;
}

.room5 {
	background-position:  -154px -79px !important;
}

.room6 {
	background-position: -154px -156px !important;
}

.room7 {
	background-position: -306px -79px !important;
}

.room8 {
	background-position: -2px -2px !important;
}

.container img {
	background: url(../images/spritesheet-rooms-icons.png) no-repeat;
	height:50px;
}

.wifi {
	width:64px;
	background-position: -2px -2px !important;
}

.flatscreen {
	width:62px;
	background-position:-68px -2px !important;
}

.serving {
	width:56px;
	background-position: -132px -3px !important;
}

.restaurant {
	width:49px;
	background-position: -190px -2px !important;
}

#book {
    width: 76%;
    height:50px;
    background-color:#9B1C26;
    border:1px solid black;
    line-height:50px;
}

.thumbnail {
    border:1px solid black;
}

.container {
  width:100%;
  overflow:auto;
  padding-top:30px;
  padding-bottom:30px;
}

.container div {
    width:25%;
    float:left;
    text-align:center;
}

.container div img {
    padding-bottom:10px;
}