div#preview {
    width:53%;
    float:left;
    text-align:center;
    padding-right:5%;
    padding-left:1%;
}

div#preview image {
    border:1px solid black;
}

div#roomselector {
    float:left;
    width:40%;
    text-align:center;
}

div#roomselector h2 {
    padding-top:20px;
    padding-bottom:31px;
}

/* Loads the spritesheet for all images in rooms.html's roomselector */
div#roomselector img {
	background: url(../images/spritesheet-rooms-thumbnails.jpg) no-repeat;
	width:150px;
	height:75px;
}

div#book {
    width: 76%;
    height:50px;
    background-color:#9B1C26;
    border:1px solid black;
    line-height:50px;
}

.thumbnail {
    border:1px solid black;
}

.container {
  width:100%;
  overflow:auto;
  padding-top:30px;
  padding-bottom:30px;
}

.container div {
    width:25%;
    float:left;
    text-align:center;
}

.container div img {
    padding-bottom:10px;
}