div#preview {
    width:55%;
    float:left;
    text-align:center;
    padding-right:5%;
}

div#roomselector {
    text-align:center;
}

div#roomselector h2 {
    padding-bottom:10px;
}

.thumbnail {
    border:1px solid black;
}